<% @profile = Profile.new %>
<%= form_for [@globe, @profile], :method => :post, :id => "profile_form", :remote => true  do |p| %>
        <div id="preview_profiles" class="preview_profiles">
          <% for profile in @profiles %>
            <%= content_tag_for :span, profile, :class => "preview_profile" do %>
              <span class="handle">&#9632;</span>
              <%= link_to profile.name, preview_globe_profile_url(@globe, profile) %>
            <% end %>
          <% end %>
          <%= render :partial => "profiles/add_profile_button", :locals => {:p => p } %>
        </div>
        <%= sortable_element("preview_profiles", :url => sort_globe_profiles_path(@globe), :tag => "span", :handle => "handle", :overlap => :vertical) %>
<% end %>
