<table>
  <tr>
    <td>Name:</td>
    <td><%= [@name.first_name, @name.other_names, @name.last_name].join(' ') %></td>
  </tr>
</table>
<table width="250">
  <th colspan="2">Address:</th>
  <tr>
    <td>
      Address Line 1:
    </td>
    <td>
      <%= Label_TextBox_Switch("address", @address, "address_line_1") %>
    </td>
  </tr>
  <tr>
    <td>
      Address Line 2:
    </td>
    <td>
      <%= Label_TextBox_Switch("address", @address, "address_line_2") %>
    </td>
  </tr>
  <tr>
    <td>
      Address Line 3:
    </td>
    <td>
      <%= Label_TextBox_Switch("address", @address, "address_line_3") %>
    </td>
  </tr>
  <tr>
    <td>
      City:
    </td>
    <td>
      <%= Label_TextBox_Switch("address", @address, "city") %>
    </td>
  </tr>
  <tr>
    <td>
      Post Code:
    </td>
    <td>
      <%= Label_TextBox_Switch("address", @address, "post_code") %>
    </td>
  </tr>
 <tr>
    <td>
      Country:
    </td>
    <td>
      <%= Label_TextBox_Switch("address", @address, "country") %>
    </td>
  </tr>
</table>
