<h1><%= @globe.name %></h1>
<p>Switch Globe:
<%=  select_tag "globe[id]", raw("<option value='#{@globe.id}'>#{@globe.name}</option>") + options_from_collection_for_select(@shadowglobes.find(:all, :order => 'name'), "id", "name"), :onChange => "javascript:navigate_to_shadow_globe(document.getElementById('globe_id').value)" %>
</p>
<p>
  <% current_type = ""
    @data_collections.sort{|x,y| x.type <=> y.type}.each { |dec|
       
       data_element = eval(dec.type).find_by_id(dec.id)
       attributes = dec.type.constantize.column_names - DataElement.column_names %>
    <% if data_element.nil? then %>
      <%= puts dec.inspect %>
    <% end %>
    <% if current_type != dec.type && current_type != "" %>
    </table>
    <% end %>
    <% if current_type == "" || current_type != dec.type then
          current_type = dec.type %>
    <table width="100%">
      <thead>
        <th colspan="<%= attributes.count + 5 %>">
          <%= dec.type.constantize.friendly_class_name %>
        </th>
      </thead>
    <% end %>
      <tr>
        <td><%= dec.name.to_s %></td>
        <%  attributes.each {|attribute| %>
        <td><%= data_element[attribute] %></td>
        <% } %>
        <td><%= link_to image_tag('edit.png', :height => 30), edit_globe_data_element_path(@globe, data_element) %></td>
        <td><%= link_to "XML", globe_data_element_path(@globe, data_element, format: "xml") %></td>
        <td><%= link_to "CSV", globe_data_element_path(@globe, data_element, format: "csv") %></td>
        <td><%= link_to "Destroy", globe_data_element_path(@globe, data_element), :method => :delete %></td>
      </tr>
  <% } %>
    </table>
</p>
<p>
  <%= link_to("[New Data Element]", new_globe_data_element_url(@globe)) %>
</p>  
<%= render "/the_bottom_line" %>
