<%= form_for [@globe, @profile, @data_sheet] do |f| %>
  <% if @data_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_sheet.errors.count, "error") %> prohibited this data_sheet from being saved:</h2>

      <ul>
      <% @data_sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <th>Data</th><th>Value</th>
  <tr>
    <td>Name</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>Display Name</td>
    <td><%= f.text_field :display_name %></td>
  </tr>
  <tr>
    <td>File Location</td>
    <td><%= f.text_field :file_location %></td>
  </tr>
  <tr>
    <td>Style Sheet</td>
    <td><%= f.text_field :style_sheets %></td>
  </tr>
  <tr>
    <td>Profile</td>
    <td><%= @profile.name %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit %></td>
  </tr>
</table>
<% end %>
