<div class="config_area">
<h1>Listing Subscriptions</h1>

<table>
  <tr>
    <th>Source Link</th>
    <th>Destination Link</th>
    <th>Subscription Type</th>
    <th>Queued</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td>
      <span class="footnote">Globe:</span> <span class="footnote">(<%= link_to subscription.source_link.data_element.globe.globe_reference, preview_globe_path(subscription.source_link.data_element.globe) %>)</span>
      <br/>
      <span class="footnote">Globe Name:</span> <span class="footnote">[<%= subscription.source_link.data_element.globe.name %>]</span>
      <br/>
      <span class="footnote">Data Element:</span> <span class="footnote"><%= subscription.source_link.data_element.name %></span>
      <br/>
      <span class="footnote">Attribute:</span> <span class="footnote"><%= subscription.source_link.attribute_name %></span>
    </td>
    <td>
      <span class="footnote">Globe:</span> <span class="footnote">(<%= link_to subscription.destination_link.data_element.globe.globe_reference, preview_globe_path(subscription.source_link.data_element.globe) %>)</span>
      <br/>
      <span class="footnote">Globe Name:</span> <span class="footnote">[<%= subscription.destination_link.data_element.globe.name %>]</span>
      <br/>
      <span class="footnote">Data Element:</span> <span class="footnote"><%= subscription.destination_link.data_element.name %></span>
      <br/>
      <span class="footnote">Attribute:</span> <span class="footnote"><%= subscription.destination_link.attribute_name %></span>
    </td>
    <td>
      <span class="footnote"><%= subscription.subscription_type.name %></span>
    </td>
    <td>
      <span class="footnote"><%= check_box_tag "subscription_#{subscription.id}_queued", SubscriptionEvalutaionQueue.find_by_subscription_id, !SubscriptionEvalutaionQueue.find_by_subscription_id(subscription.id).nil? %></span>
    </td>
    <td><%= link_to image_tag('view.png', :height => 30), subscription %></td>
    <td><%= link_to image_tag('edit.png', :height => 30), edit_subscription_path(subscription) %></td>
    <td><%= link_to image_tag('remove.png', :height => 30), subscription, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscription', new_subscription_path %>
</div>