<p id="notice"><%= notice %></p>
<% if @source_value != @destination_value %>
  <h2>Difference</h2>
<% end %>
<p>
  <b>Source link:</b>
  <%= @subscription.source_link_id %>
</p>

<p>
  <b>Destination link:</b>
  <%= @subscription.destination_link_id %>
</p>

<p>
  <b>Subscription type:</b>
  <%= @subscription.subscription_type.definition %>
</p>

<p>
  <b>Source Value:</b>
  <%= @source_value %>
</p>

<p>
  <b>Destination Value:</b>
  <%= @destination_value %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
