<h1>All Generator List</h1>
<table>
  <thead>
    <th>Unit</th>
    <th>Installed Capacity</th>
    <th>Fixed Heat Constant</th>
    <th>Power Station</th>
  </thead>
  <% @unit_array.each do |unit|
  %>
  <tr>
    <td><%= LinkDataSheet(unit, 'code') %></td>
    <td><%= unit.installed_capacity %></td>
    <td><%= unit.fixed_heat_constant %></td>
    <td><%= unit.power_station_data_element.code %></td>
  </tr>
  <% end %>
</table>
<table width="100%">
  <tr>
    <%= hidden_field_tag "new_data_element", "GeneratorUnitDataElement" %>
    <td><%= link_to("New Generator Unit", new_globe_data_element_url(@globe), :data_element_type => "GeneratorUnitDataElement") %></td>
  </tr>
</table>
