<h1>All Data Line Items</h1>
<table>
  <th>Name</th>
  <th>Short Name</th>
  <th>Description</th>
  <th>Data Set</th>
  <% @line_item_array.each do |line_item| %>
  <tr>
    <td><%= LinkDataSheet(line_item, "code", {:data_sheet => line_item.name, :override_label => line_item.code }) %></td>
    <td><%= line_item.short_name %></td>
    <td><%= line_item.description %></td>
    <td><%= line_item.data_set_data_element.friendly_name %></td>
  </tr>
  <% end %>
</table>
<table width="100%">
  <tr>
    <%= hidden_field_tag "new_data_element", "DataLineItemDataElement" %>
    <td><%= link_to("New Data Line Item", new_globe_data_element_url(@globe), :data_element_type => "DataLineItemDataElement") %></td>
  </tr>
</table>
