<table>
  <tr>
    <td>Generator Unit Code</td><td><%= @unit.code %></td>
  </tr>
  <tr>
    <td>Station Link</td><td><%= LinkDataSheet(@unit.power_station_data_element, 'full_name', { :data_sheet => @unit.power_station_data_element.name }) %></td>
  </tr>
  <tr>
    <td>Change Station</td><td><%= ForeignKey_PickList("unit", @unit, "power_station_data_element_id", "name") %></td>
  </tr>
  <tr>
    <td>Installed Capacity</td><td><%= Label_TextBox_Switch("unit", @unit, "installed_capacity") %></td>
  </tr>
  <tr>
    <td>Fixed Heat Constant</td><td><%= @unit.fixed_heat_constant %></td>
  </tr>
  <tr>
    <td>Hot Starts</td><td>0 to <%= @unit.start_hours_hot %></td>
  </tr>
  <tr>
    <td>Warm Starts</td><td><%= Label_TextBox_Switch("unit", @unit, "start_hours_hot") %> to <%= Label_TextBox_Switch("unit", @unit, "start_hours_cold") %></td>
  </tr>
  <tr>
    <td>Cold Starts</td><td><%= @unit.start_hours_cold %> and above</td>
  </tr>
  <tr>
    <td>Changed By</td><td><%= @unit.updater.email %></td>
  </tr>
  <% if @unit.history[0...-1].count > 0 %>
  <tr>
    <td colspan="2">
      <div id="tbl-container" style="width:600px;height:250px;overflow:auto;background-color:#CD5C5C;border-style:solid;padding:10px;">
        <span class="historic_header">Historical View</span>
        <table width="100%">
          <th>
            Date/Time
          </th>
          <th>
            Changed By
          </th>
          <th>
            Summary
          </th>
          <% @unit.history[0...-1].reverse.each do |unit| %>
          <tr>
            <td>
              <%= unit.updated_at.to_formatted_s(:long) %>
            </td>
            <td>
              <%= unit.updater.email %>
            </td>
            <td>
              Capacity: <%= unit.installed_capacity %>
              <br/>
              SHC: <%= unit.start_hours_cold %>
              <br/>
              SHH: <%= unit.start_hours_hot %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </td>
  </tr>
  <% end %>
  </table>
