<table>
  <tr>
    <td>Station Name</td><td><%= @station.full_name %></td>
  </tr>
  <tr>
    <td>Station Code</td><td><%= @station.code %></td>
  </tr>
  <tr>
    <td>Primary Fuel Type</td><td><%= Label_TextBox_Switch("station", @station, "primary_fuel_type") %></td>
  </tr>
  <tr>
    <td>Secondary Fuel Type</td><td><%= Label_TextBox_Switch("station", @station, "secondary_fuel_type") %></td>
  </tr>
  <tr>
    <td>Installed Capacity</td><td><%= Label_TextBox_Switch("station", @station, "capacity") %></td>
  </tr>
  <tr>
    <td>Location</td><td><%= Label_TextBox_Switch("station", @station, "location") %></td>
  </tr>
  <tr>
    <td>Commissioned</td><td><%= Label_TextBox_Switch("station", @station, "commissioned") %></td>
  </tr>
</table>
