<% if current_user %>
  <div class="bottom_navigation_menu">
    <%= link_to "Globes", globes_path, :class => "rustyred" %>
    <% if !@globe.blank? then %>
      <%= link_to "Presentations", globe_presentations_path(@globe), :class => "limegreen" %>
      <%= link_to "Profiles", globe_profiles_path(@globe), :class => "brown" %>
      <%= link_to "Data", globe_data_elements_path(@globe), :class => "metallicblue" %>
      <%= link_to "Home", preview_globe_path(@globe), :class => "burntorange" %>
      <%= link_to image_tag('home.png', :height => 30), preview_globe_path(@globe), :class => "home_icon", :style => "text-align:right" %>
    <% end %>
  </div>
<% end %>
