<h2>New Data Domain</h2>
<%= form_tag create_data_element_globe_profile_data_sheet_path(@globe, @active_profile, @active_data_sheet, @data_domain), :method => :post do %>
<table>
  <tr>
    <td>Name:</td>
    <td><%= text_field_tag :name %>
  </tr>
  <tr>
    <td>Code:</td>
    <td><%= text_field_tag :code %>
  </tr>
  <tr>
    <td>Short Name:</td>
    <td><%= text_field_tag :short_name %>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= text_field_tag :description %>
  </tr>
</table>
<%= submit_tag "Create New Data Domain" %>
<% end %>
